.hero1{
    background-color: #F5F7FA;
}
.hero1 .active {
    color:black;
}
.hero1 a{
    text-decoration: none;
    color:#6E7485;
}
/*hero2 section start*/
 .hero2 .hero2-start{
    width:380px ;
}
 .hero2 .container .row{
    display: flex;
    
    justify-content:start;
    align-items: center;

 }
 
/*hero2 media start */
@media screen and (max-width:912px){
   .hero2 .container .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px;
   } 
 
  
}
/*hero2 section end */
/*branches section start */
.branches .card{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 24px;
    background-image: url(../Images/contact/Branches\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    width:312px;
    height: 364px;
}
.branches .card2{
     
    background-image: url(../Images/contact/Branches\ \(2\).webp);
    
}
.branches .card3{
  
    background-image: url(../Images/contact/Branches.webp);
    
   
}
.branches .card4{
  
    background-image: url(../Images/contact/Branches\ \(4\).webp);
    
   
}
.branches  .row{
    margin-top: 40px;
   
}
.branches .card .info{
   
    width:200px;
  
    padding:5px;
    position :absolute;
    bottom: 24px;
    
    z-index: 1;
}
.branches .card .info p{
    color:#6E7485;
}
.contact-us{
    background-color: #F5F7FA;
}
/*branches section enf*/
/*branches media query start*/
@media screen and ( min-width:995px) and (max-width:1399px){
    .branches .row{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:60px;
    }
  
}
@media screen and ( max-width:990px){
    .branches .row{
        
        justify-content: center;
        align-items: center;
        gap:60px;
    }}
  
/*branches media query end */
/*contactus start*/
form p{
   color:#8C94A3;
}
form input , textarea{
    padding: 10px;
}